<form action="/signin" method="post">
    <label for="">Email</label>
    <input type="text" name="email">
    <label for="">Password</label>
    <input type="password" name="Password" >
    <button type="submit">sign in</button>
</form>